.image-gallery {
  position: relative;
  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.4s ease-out;
    outline-offset: 1.5rem;

    &--i1 {
      left: 0;
      top: -2rem;
    }

    &--i2 {
      left: 30%;
      top: 2rem;
    }

    &--i3 {
      left: 20%;
      top: 6rem;
    }

    &:hover {
      transform: scale(1.2) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
      outline: 1.5rem solid $brand-color;
    }
  }

  &:hover &__image:not(:hover) {
    transform: scale(.8);
    opacity: .8;
  }
}
