@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slideFromBottom {
  0% { opacity: 0; transform: translateY(10rem); }
  80% { transform: translateY(-1rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideFromLeft {
  0% { opacity: 0; transform: translateX(-10rem); }
  80% { transform: translateX(1rem); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideFromRight {
  0% { opacity: 0; transform: translateX(10rem); }
  80% { transform: translateX(-1rem); }
  100% { opacity: 1; transform: translateX(0); }
}
