@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin responsive-page {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

@mixin style-link-text($color) {
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

@mixin box-shadow($top, $left, $blur, $color, $opacity) {
  -webkit-box-shadow: $top $left $blur $color $opacity;
  -moz-box-shadow: $top $left $blur $color $opacity;
  box-shadow: $top $left $blur $color $opacity;
}


%btn-placeholder {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}
