$primary-body-color: #292929;
// $brand-color: #FA7268;
$brand-color: #0f4c81;
$brand-color-x-dark: darken($brand-color, 30%);
$brand-color-dark: darken($brand-color, 15%);
$brand-color-light: lighten($brand-color, 5%);
$color-black: #000000;
$color-white: #ffffff;
$gray-splash: #777777;
$gray-back-splash: #f7f7f7;
$loader-splash: #f3f3f3;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
